body{
  font: 15px/1.5 century;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  text-align:center;
}


/* --------------------- Header ---------------------- */

header{
  background:#35424a;
  color:#ffffff;
  padding:10px 100px 10px 100px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

.button-header{
  width:150px;
  height:30px;
  float: right;
  color: white;
  background-color: #e8491d;
  border-radius: 10px;
  margin-top: 0px;
  margin-right: 40px;
  border: none;
  font-size: 16px;
  font-weight: bold;
}


header #branding img{
  float:left;
  width: 220px;
  height: 70px;
}


nav li {
    display: inline;
    width: 180px;
    float: right;
}

nav a, h4 {
    display: inline;
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
}

/*-----------------------******----------------------------*/



/*------------------------Footer---------------------------*/

footer{
  width: 100%;
  position:relative;
  height: 50px;
  bottom:0;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/*---------------------***********-------------------------*/



/* ----------------- Register and Login ------------------ */ 

.container-dark-login{
  width: 25%;
  padding:55px;
  background:#35424a;
  margin: 50px 35% 50px;
  overflow:hidden;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
}

.button{
  width:59%;
  height:30px;
  float: right;
  color: white;
  background-color: #e8491d;
  border-radius: 30px;
  margin-top: 10px;
  border: none;
}

.container-dark-login input{
  width: 60%;
  float: right;
}

.container-dark-login p{
  float: center;
  color: #e8491d
}

.container-dark-login h2{
  float: center;
  color: #e8491d;
}

.container-dark-login label{
  float: left;
  color: #ffffff;
}

hr {
  border:none;
  height: 50px;
  width: 100%;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
}

/* ------------------ ******** ------------------- */ 




/* ----------------- Index/Home ------------------ */


.button-resume{
  width:49%;
  height:30px;
  float: right;
  color: white;
  background-color: #e8491d;
  border-radius: 30px;
  margin-top: 10px;
  border: none;
}


.button-resume-dark{
  width:47%;
  height:60px;
  margin: 1%;
  float: right;
  color: white;
  font-weight: bold;
  background-color: #5f7681;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
}

.button-resume-light{
  width:47%;
  height:60px;
  margin: 1%;
  float: right;
  color: #000000;
  font-weight: bold;
  background-color: #f1eeeb;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
}


.container-dark-resume-theme{
  width: 33%;
  height: 60px;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 30px; 
  background:#35424a;
  margin-left: 33%;
  margin-top: 20px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
}


.container-dark-resume-info{
  width: 33%;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 30px; 
  background:#35424a;
  margin-left: 33%;
  margin-top: 20px;
  overflow:hidden;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
}

.level-container{
  width: 80%;
  margin: auto;
}

.container-dark-resume-info input{
  float: right;
}

.container-dark-resume-info h2{
  float: center;
  color: #e8491d;
}

.container-dark-resume-info label{
  float: left;
  color: #ffffff;
}

.container-dark-resume-info input {
  display: inline-block;
  width: 50%;
  height: 25px;
  border: none;
  border-radius: 20px;
}

.container-dark-resume-info textarea {
  display: inline-block;
  width: 49%;
  height: 40px;
  border: none;
  border-radius: 10px;
}



/* ------------------ ******** ------------------- */ 


/* ----------------- light-theme ------------------ */

.container-light-resume{
  width: 40%;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-left: 30%;
  margin-bottom: 50px;
  overflow:hidden;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
  background:url("../img/lightbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.resume-container{
  width: 80%;
  margin: auto;
}

.resume-container h3{
  display: inline-block;
  color:#e8491d; 
  font-size: 18px; 
  font-weight: bold; 
  float:left; 
  margin-left:5px;
  width: 100%;
  text-align: left;
  margin: 5px;

}

.resume-container h3 span{
  display: inline-block;
  float: right;
  clear: left;
  color: #000000;
  font-size: 15px;
  width: 50%;
  text-align: left;
  margin: 5px;

}


#resume-name{
  height:100px;
  width: 40%;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-left: 30%;
  margin-top: 20px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
  background:url("../img/resumename.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

#resume-name h2{

  color:#e8491d; 
  font-size: 24px;


}

/* ------------------ ******** ------------------- */ 



/* ----------------- dark-theme ------------------ */

.container-dark-resume{
  width: 40%;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-left: 30%;
  margin-bottom: 50px;
  overflow:hidden;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
  background:url("../img/darkbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.dark-resume-container{
  width: 80%;
  margin: auto;
}

.dark-resume-container h3{
  display: inline-block;
  color:#e8491d; 
  font-size: 18px; 
  font-weight: bold; 
  float:left; 
  margin-left:5px;
  width: 100%;
  text-align: left;
  margin: 5px;
}

.dark-resume-container h2{

  color: #ffffff;
}




.dark-resume-container h3 span{
  display: inline-block;
  float: right;
  clear: left;
  color: #ffffff;
  font-size: 15px;
  width: 50%;
  text-align: left;
  margin: 5px;

}

.dark-resume-container hr {
  border:none;
  height: 50px;
  width: 100%;
  margin-top: 0;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 20px 20px -20px #333;
}


#resume-name-dark{
  height:100px;
  width: 40%;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-left: 30%;
  margin-top: 20px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
  background:url("../img/resumename-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

#resume-name-dark h2{

  color:#e8491d; 
  font-size: 24px;


}





/* ------------------ ******** ------------------- */ 



label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100%;
    text-align: left;
    margin: 5px;
}

input {
  display: inline-block;
  width: 60%;
  height: 27px;
  border: none;
  border-radius: 30px;
}


select {
  display: inline-block;
  width: 60%;
  border: none;
  float: right;
}

textarea{
  display: inline-block;
  width: 58%;
  border: none;
  float: right;
}




.error {
  width: 100%;
  margin: 0px auto; 
  border: none; 
  color: white;
  vertical-align: center;
  background-color: #942222;
  text-align: center;
}


.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
